<%= provide(:title, @list.name) %>
<div class='row'>
  <aside class='col-md-4'>
    <section class='user_info'>
<h1><%= @list.name %></h1>
<% if @list.tasks.any? %>
<%= render 'shared/tasks' %>
<% end %>
</section>

<%=form_with(model: @list.tasks.build, local: true) do |f| %>

<%= hidden_field_tag :id, @list.id %>

<%= f.label :content %>
<%= f.text_field :content, class: 'form-control' %>

<%= f.submit 'Add Task', class: 'btn btn-primary' %>
<%= link_to 'Delete List', @list, method: :delete,
                                  data: {confirm: "are you sure?"}, class: 'btn btn-danger' %>
<% end %>
</aside>
</div>